<h2>Download as CSV</h2>

<div class="flex">
  <form class="flex flex-grow" [formGroup]="csvSettingsForm" *ngIf="csvSettingsForm">
    <mat-form-field class="flex-grow">
      <mat-label>Separator</mat-label>
      <mat-select formControlName="separator">
        <mat-option *ngFor="let value of separatorValues" [value]="value[1]">{{value[0]}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="flex-grow">
      <mat-label>Quote Character</mat-label>
      <mat-select formControlName="quotechar">
        <mat-option *ngFor="let value of quotecharValues" [value]="value[1]">{{value[0]}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <button mat-icon-button color="primary" (click)="downloadDeck()" matTooltip="Download CSV">
    <mat-icon>download</mat-icon>
  </button>
</div>
