<h2>Export Deck</h2>

<div class="flex flex-col">
  <form class="flex flex-grow flex-col" [formGroup]="csvSettingsForm" *ngIf="csvSettingsForm">
    <mat-form-field class="flex-grow">
      <mat-label>Separator</mat-label>
      <mat-select formControlName="separator">
        <mat-option *ngFor="let value of separatorValues" [value]="value[1]">{{value[0]}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="flex-grow">
      <mat-label>Quote Character</mat-label>
      <mat-select formControlName="quotechar">
        <mat-option *ngFor="let value of quotecharValues" [value]="value[1]">{{value[0]}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="with_tags" class="ml-2">Include tags</mat-checkbox>
    <mat-checkbox formControlName="with_images" class="ml-2">Include image filenames</mat-checkbox>
    <div class="flex justify-evenly h-11 mt-4">
      <button mat-raised-button class="grow" color="primary" (click)="downloadDeck()">
        Download CSV
      </button>
      <div class="w-4"></div>
      <button mat-raised-button class="grow" color="primary" (click)="downloadImages()">
        Download images
      </button>
    </div>
  </form>
</div>
