<mat-toolbar color="primary">
  <mat-toolbar-row class="flex">
    <div class="flex-auto"><a [routerLink]="'/'">Flashcard Manager</a></div>
    <a [routerLink]="'login'" mat-raised-button color="accent" *ngIf="!user">
      Log In
    </a>
    <div class="flex" *ngIf="user">
      <div>You are logged as: <i>{{ user.username }}</i></div>
      <div class="w-5"></div>
      <button (click)="logout()" mat-raised-button color="warn">
        Log Out
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
