<div class="m-auto max-w-6xl">
  <div class="flex justify-between">
    <button mat-icon-button matTooltip="Add new card" color="accent" (click)="newCard()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Paste from JSON" color="accent" (click)="pasteCard()">
      <mat-icon>content_paste</mat-icon>
    </button>
    <div class="grow"></div>
    <button mat-icon-button matTooltip="Settings" color="primary" [disabled]="!focusedCard"
            (click)="focusedCard = null">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
  <div class="grid grid-cols-2 gap-5">
    <app-card-table [deck]="deck" (cardClicked)="focusedCard = $event"></app-card-table>
    <mat-card>
      <mat-card-content>
        <app-card-detail [deck]="deck" [card]="focusedCard" (cardDeleted)="deleteCard($event)"
                         (cardUpdated)="updateCard($event)" *ngIf="focusedCard"></app-card-detail>
        <app-deck-settings [deck]="deck" *ngIf="!focusedCard"></app-deck-settings>
      </mat-card-content>
    </mat-card>
  </div>
</div>
